.container_searchlist{
    background-color: rgb(44, 43, 43);
    width: 91.75%;
    border-radius: 15px;
    position: absolute;
    top: 2.6rem;
    height: fit-content;
    z-index: 100;
}
.tital_item{
    margin: 0;
    color: white;
    border-radius:15px;
    padding: 0.4rem;
    cursor: pointer;
}
.tital_item:hover{
    background-color: rgb(99, 97, 97);
}