.channel_logo_app{
    width: 2.1rem;
    height: 2.1rem;
    margin: auto;
    border-radius: 100%;
    margin-top: 17px;
    background-color: rgb(98, 108, 108);
    display: flex;
}
.fstchar_logo_app{
    margin: auto;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.container_pages{
    display: flex;
    background-color: #121212;
}
.container2_pages{
    width: calc(100vw - 5rem);
    height: calc(100vh - 3.22rem);
    overflow-y: auto;
}

/* show video box */
.video_box{
    width: 21rem;
    height: 17rem;
    margin-bottom: 1rem;
    border: 2px solid transparent
}
video{
    background-color: #121212;
}
.dot{
    height: 4px;
    width: 4px;
    border-radius: 100%;
    background-color: white;
    margin: auto 0.5rem;
}