.container_createchannel{
    background-color: rgba(0, 0, 0, 0.663);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
}
.container2_createchannel{
    margin: auto;
    background-color: rgb(55,57,67,0.293);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20rem;
    height: 30rem;
    padding: 0.8rem;
    border: 2px solid white;
    border-radius: 10px;
}
.container2_createchannel h1{
    color: whitesmoke;
}
.container2_createchannel input,
.container2_createchannel textarea{
    color: aliceblue;
    resize: none;
    padding: 0.3rem;
    border: 2px solid;
}
.ibtn,
.ibox{
    font-size: 1rem;
    padding: 0.2rem;
    background-color: transparent;
    color: #000;
    border-radius: 10px;
    margin: 0.2rem;
    font-weight: bold;
}
.ibtn{
    cursor: pointer;
    background-color: transparent;
    transition: 1s all;
}
.ibtn:hover{
    color: red;
    background-color: #121212;
}
.ibtn_x{
    border: 0;
    padding: 0;
    color: white;
    background-color: transparent;
    font-size: 2rem;
    right: 50px;
    cursor: pointer;
    position: absolute;
    transition: 1s all;
}
.ibtn_x:hover{
    color: red;
}